.jumbotron {
  background-color: #ff4136 !important;
  height: 150px;
  margin-bottom: 0px !important;
}

.jumbotron h1 {
  display: inline;
  margin-left: 1.75rem;
}

.jumbotron span {
  color: white;
}

img {
  height: 80px;
}

.blackBar {
  background-color: black;
  height: 30px;
}

.google {
  height: auto;
}
