.jumbotron {
  background-color: #ff4136 !important;
  height: 170px;
  margin-bottom: 0px !important;
}

.jumbotron h1 {
  display: inline;
  margin-left: 1.75rem;
}

.jumbotron span {
  color: white;
}

img {
  height: 80px;
}

.blackBar {
  background-color: black;
  height: 30px;
}

.google {
  height: auto;
}

@media only screen and (max-width: 991px) {
  .jumbotron {
    height: 160px;
  }
  #roomName {
    margin-top: 2rem;
  }
}

.site-footer {
  background-image: linear-gradient(white, #ff4136);
  padding: 20px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

i {
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 760px) {
  #tables {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 761px) {
  #tables {
    margin-bottom: 100px;
  }
}

html {
  overflow-y: scroll;
}
